@model CargoEmpty.Models.General.Bundel.BundelsDb
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminShared/_AdminLayout.cshtml";
}

<div class="col-12 col-lg-12" id="BundelLabelPages">
    <div class="row">
        <div class="col-12 col-lg-12 barcodeDiv" style="text-align:center">
            <img src="~/Image/barkode-Regular.png" style="width: 25%;height: 150px;" />
            <p style="margin-top:-50px;">@Model.TrackingNumber</p>
        </div>

        <div class="col-12 col-lg-12" style="margin-top:20px;">
            <fieldset class="form-control" style="width:100%;">
                <legend>Sender</legend>
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <span>@Model.CompanyName</span><br />
                            <span>@Model.ShopName</span><br />
                        </div>
                        <div class="col-lg-3 col-12">
                            <p><b>Tracing Number</b></p>
                            <span>@Model.TrackingNumber</span>
                        </div>
                        <div class="col-lg-3 col-12">
                            <p><b>Weight</b></p>
                            <span>@Model.Weight</span>
                        </div>
                        <div class="col-lg-3 col-12">
                            <p><b>Price</b></p>
                            <span>@Model.Price</span>
                        </div>
                        <div class="col-lg-3 col-12">
                            <p><b>Shipping</b></p>
                            <span>@Model.DeliveryPrice</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-12 col-lg-12" style="margin-top:20px;">
            <fieldset class="form-control" style="width:100%;">
                <legend>@ViewBag.set.Title | @ViewBag.set.Mail</legend>
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <p><b>Custumer</b> - @Model.User.FirstName @Model.User.LastName</p>
                            <p><b>Personal Id</b> - @Model.UserDbId</p>
                            <p><b>User Code</b> - @Model.User.UserCod</p>
                            <p><b>Mobil</b> - @Model.User.PhoneNumber</p>
                            <p><b>Adress</b> - @Model.User.Adress</p>
                            <p><b>Country</b> - Azerbaycan</p>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-12 col-lg-12 float-right" style="margin-top:25px;text-align:right">
        <button class="btn btn-info" type="button" id="BundelLabelPrint">Print</button>
    </div>
</div>
@section AdminBundelCreate
{
    <script type="text/javascript" src="~/JavaScript/CreateBundel.js"></script>

}