@model CargoEmpty.Models.Pages.Shop.ShopDb
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/AdminShared/_AdminLayout.cshtml";
}
@{
    string isActiveClass;
    string IsActivText;
    string activinput;
    if (Model.IsActive)
    {
        activinput = "true";
        IsActivText = "Activ";
        isActiveClass = "btn btn-success";
    }
    else
    {


        isActiveClass = "btn btn-danger";
        IsActivText = "DeActiv";
        activinput = "false";

    }
}

<div class="col-lg-10 col-12 offset-lg-1 AdminCreateNews" style="width:100%;height:auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <form action="/Shops/Edit" method="post" class="form-group" enctype="multipart/form-data">
                    <input class="form-control" type="hidden" name="Id" value="@Model.Id" />


                    <div class="col-lg-12 col-md-12 col-12 ShopEditFormDiv" style="width:100%;height:auto">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12">
                                <label>Magaza Adi <span style="color:red"> *</span> </label>
                                <input class="form-control" type="text" name="ShopName" value="@Model.ShopName" />
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <label>Firma Adi <span style="color:red"> *</span> </label>
                                <input class="form-control" type="text" name="CompanyName" value="@Model.CompanyName" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <label>Kateqoria <span style="color:red"> *</span> </label>
                                <select class="form-control" name="CategoryId">
                                    @foreach (var i in ViewBag.Category)
                                    {
                                        <option class="form-control" value="@i.Id">@i.CategoryName</option>
                                    }
                                </select>

                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <label>Olke <span style="color:red"> *</span> </label>
                                <input class="form-control" type="text" name="Country" value="@Model.Country" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <label>Seher <span style="color:red"> *</span> </label>
                                <input class="form-control" type="text" name="City" value="@Model.City" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <label>Telefon <span style="color:red"> *</span> </label>
                                <input class="form-control" type="text" name="PhoneNumber" value="@Model.PhoneNumber" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <label>Posta Kodu <span style="color:red"> *</span> </label>
                                <input class="form-control" type="number" name="PostCode" value="@Model.PostCode" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <label>Abone Hesab.No<span style="color:red">*</span> </label>
                                <input class="form-control" type="number" name="AccountNumber" value="@Model.AccountNumber" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <label>Adres<span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="Adress" value="@Model.Adress" />

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <label>Link <span style="color:red"> *</span> </label>
                                <input class="form-control" type="text" name="Link" value="@Model.Link" />

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <label>Sekil Sec <span style="color:red"> *</span> </label>
                                <input id="fl" class="form-control" type="file" name="ShopImage" value="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <label>Indiki Sekil <span style="color:red"> *</span> </label><br />
                                <img id="img" src="@Model.ImagePath" alt="Alternate Text" style="width:100%;height:180px;" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12" style="margin-top:15px;">
                            <button type="submit" id="ShopSubmitBtnEdite" class="btn btn-primary">Yadda Saxla</button>
                            <button type="button" id="ShopActivBtnEdite" class="@isActiveClass">@IsActivText</button>
                            <input id="activInputEdite" type="hidden" name="Activ" value="@activinput" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section ShopsScript
{

    <script type="text/javascript" src="~/JavaScript/Shop.js"></script>

}
