@model CargoEmpty.Models.General.User.UserDb
@{
    ViewBag.Title = "CustumerDetails";
    Layout = "~/Views/AdminShared/_AdminLayout.cshtml";
}
<div class="col-lg-12 col-12">
    <div class="row">
        <div class="col-lg-12 col-12 CustumersDetailsMainDiv">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-12 CustumersDetailsCustumersInformation">
                    <div class="UserDetailsAdmin">
                        <span class="form-control">Custumer-@Model.FirstName @Model.LastName | ID-@Model.Id | UserCod-@Model.UserCod | Balanc-@Model.Balance | Bonuc-@Model.BonusBalance </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <a href="/Bundel/Create/@Model.Id"><button data-id="@Model.Id" id="AdminCustumerDeclerationBtn" class="btn btn-danger" style="width:100%;box-shadow:unset;" type="button" data-toggle="modal" data-target=".bd-example-modal-xl">Process</button></a>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-lg-12 col-md-12 col-12 CustumersDetailsActionsMainDiv">
            <input type="hidden" name="UserID" value="@Model.Id" id="CustumerId" />
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12 CustumersDetailsActions" id="CustumersDinamikChangeInfo">
                    <div class="row">
                        @*bura ajaxs ile dinamik dolacaq*@

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 float-right CustumersDetailsMenyMainDiv">
                    <ul id="accauntsettingUl">
                        <li data-action="/JsonResult/CustumerInfo" data-id="@Model.Id" class="CustumerInfoActions">Sexsi Melumat</li>
                        <li data-action="/JsonResult/CustumerOrders" data-id="@Model.Id" class="CustumerInfoActions">Butun Sifarisler</li>
                        <li data-action="/JsonResult/CustumerBundels" data-id="@Model.Id" class="CustumerInfoActions">Baglamalar</li>
                        <li data-action="/JsonResult/CustumerDeclerations" data-id="@Model.Id" class="CustumerInfoActions">Beyannameler</li>
                        <li data-action="/JsonResult/CustumerBalaceInfo" data-id="@Model.Id" class="CustumerInfoActions">Balans Emeliyyatlari</li>
                        <li data-action="/JsonResult/CustumerMessages" data-id="@Model.Id" class="CustumerInfoActions">Mesajlar</li>
                        <li data-action="/JsonResult/CustumerQueryes" data-id="@Model.Id" class="CustumerInfoActions">Sorgular</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modalParentDiv">
    @*modal*@
    <!-- Button trigger modal -->
    <button id="CustumerDetailsModalBtn" type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" style="display:none;">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="CustumersDetailsFormParentDiv">
                <form action="/User/Delete" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="AdminCutumersDetailsModalBody">

                        </div>
                        <div class="AdminCutumersDetailsModalBodyUserID">
                             
                        </div>
                    </div>

                    <div class="modal-footer" style="border-top:none;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*modal*@
</div>



@*@*decleration modal*@
@*<div class="CustumerDetailsDeclerationModalMinDiv">
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="CustumerDetailsDeclerationModalContentDiv">

                </div>
            </div>
        </div>
    </div>
</div>*@

@section AdminCustumer
{
    <script type="text/javascript" src="~/JavaScript/AdminCustumerDetails.js"></script>

}
