@model IEnumerable<CargoEmpty.Models.General.Order.OrderDb>

<div class="col-lg-12 col-12" id="MyOrdersIndexTabelDiv" style="font-size:12px;">
    <table class="table table-bordered" style="width:100%;">
        <thead style="background-color:red;color:white;">
            <tr>
                <th style="text-align:center;cursor:pointer;" id="OrderAllSelect" title="Butub Sifarisleri Sec">
                    <i class="fas fa-caret-square-down"></i>
                </th>
                <th>
                    @Html.DisplayName("Ad")
                </th>
                <th>
                    @Html.DisplayName("Link")
                </th>
                <th>
                    @Html.DisplayName("Qeyd")
                </th>
                <th>
                    @Html.DisplayName("Qiymet")
                </th>
                <th>
                    @Html.DisplayName("Olke")
                </th>
                <th>
                    @Html.DisplayName("Statuse")
                </th>
                <th style="text-align:center;cursor:pointer;" id="OrderAllPaid" title="Butub Sifarisleri Ode">
                    @Html.DisplayName("Ode")
                </th>
                <th style="text-align:center;cursor:pointer;" id="OrderAllDelete" title="Butub Sifarisleri Sil">
                    @Html.DisplayName("Sil")  <i class="fas fa-caret-square-down"></i>
                </th>
            </tr>
        </thead>

        <tbody class="MyOrdersOrderTableBody">
            @{


                string IsPaid = "Ode";
                string IsUrgent = "Normal";
                string IsPaidLink = "/IsPaid/Paid";
                string comment;

                foreach (var i in Model)
                {
                    if (i.Coment.Length > 25)
                    {
                        comment = i.Coment.Substring(0, 25) + "...";
                    }
                    else
                    {
                        comment = i.Coment;
                    }

                    if (i.isPaid == true)
                    {
                        IsPaid = "Odenilib";
                        IsPaidLink = "#";

                    }
                    else
                    {
                        IsPaid = "Odenilmeyib";

                        IsPaidLink = "/IsPaid/Paid";
                    }
                    if (i.isUrgent == true)
                    {
                        IsUrgent = "Tecili";

                    }
                    else
                    {
                        IsUrgent = "Normal";
                    }
            <tr>
                <td>
                    <input type="checkbox" name="name" valuec class="CheckedOrder" id="@i.Id" />
                </td>
                <td>
                    @i.OrderName
                </td>
                <td>
                    <a href="@i.Link">@i.Link.Substring(7, 17)...</a>

                </td>
                <td>
                    @comment
                </td>
                <td>
                    @i.Price<br /> @i.Country.CountryCurrency.CurrencyName
                </td>
                <td>
                    @i.Country.CauntryName
                </td>
                <td>
                    @if (i.OrderStatusId != null)
                    {
                        foreach (var l in ViewBag.Statuse)
                        {
                            if (i.OrderStatusId == l.Id)
                            {
                                <span>@l.StatusName</span>
                            }
                        }
                    }
                    else
                    {
                        <span>Sifaris Edilmeyib</span>
                    }
                </td>
                <td>
                    <a href="@IsPaidLink"><button type="button" class="btn btn-success" style="font-size:13px">@IsPaid</button></a>
                </td>
                <td>
                    <button type="button" data-id="@i.Id" class="btn btn-primary OrderEditBtn" style="font-size:15px;"><i class="far fa-edit"></i></button>
                    <button type="button" data-id="@i.Id" class="btn btn-danger OrderDelete" style="font-size:15px"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="col-lg-12 col-md-12 col-12" style="overflow-x: auto;overflow-y: auto;margin-top:10px;font-size:12px;display:none;" id="MyDecTabelMainDiv">
    <table class="table table-bordered" style="width:100%;">
        <thead style="background-color:red;color:white;">
            <tr>
              
                <th>
                    @Html.DisplayName("Country")
                </th>
                <th>
                    @Html.DisplayName("Date Time")
                </th>
                <th>
                    @Html.DisplayName("Tracing Num")
                </th>
                <th>
                    @Html.DisplayName("Statuse")
                </th>
                <th>
                    @Html.DisplayName("Executed")
                </th>
                <th>
                    @Html.DisplayName("We-kq")<br />
                    @Html.DisplayName("Wi-sm/L-sm/H-sm")<br />
                </th>
                <th style="cursor:pointer;">
                    @Html.DisplayName("Actions")
                </th>
            </tr>
        </thead>
        <tbody class="MyOrdersDecsTableBody">
            @{



                string icra;
                string DecsComment;

                foreach (var i in ViewBag.decs)
                {
                    if (i.Comment.Length > 25)
                    {
                        DecsComment = i.Comment.Substring(0, 25) + "...";
                    }
                    else
                    {
                        DecsComment = i.Comment;
                    }
                    if (i.Executed == true)
                    {
                        icra = "Icra Edilib";
                    }
                    else
                    {
                        icra = "Icra Edilmeyib";
                    }
                    <tr>
                       
                        <td>
                            @i.Country.CauntryName
                        </td>
                        <td>
                            @i.OrderDate
                        </td>
                        <td>
                            @i.TrackingCode
                        </td>
                        <td>
                            @if (i.OrderStatusId == 2 || i.OrderStatusId != null)
                            {
                                foreach (var l in ViewBag.Statuse)
                                {
                                    if (i.OrderStatusId == l.Id)
                                    {
                                        <span>@l.StatusName</span>
                                    }
                                }
                            }
                            else
                            {
                                <span>Anbara Gelmeyib </span>

                            }

                        </td>
                        <td>
                            @icra
                        </td>
                        <td>
                            We-@i.Weight<br />
                            Wi-@i.Width/L-@i.Length/H-@i.Height
                        </td>
                        <td>
                            <button type="button" data-id="@i.Id" class="btn btn-primary DecEditBtn" style="font-size:12px;"><i class="far fa-edit"></i></button>
                            <button type="button" data-id="@i.Id" class="btn btn-danger DecDeleteBtn" style="font-size:12px;"><i class="far fa-trash-alt"></i></button>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>