@model IEnumerable<CargoEmpty.Models.General.Decleration.DeclerationDb>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12 AdminCustumersDecsStatusBtnsDiv" style="padding-bottom:2px;">
        <select id="CustumersDetailsDecsCountrySelectId" class="btn btn-warning" name="CountryId" style="font-size:12px;box-shadow:unset;">
            <option value="">Beyannameler</option>
            @{
                foreach (var i in ViewBag.Country)
                {
                    <option value="@i.Id">@i.CauntryName</option>
                }
            }
        </select>
        @foreach (var j in ViewBag.Statuse)
        {
            <button data-id="@j.Id" class="btn btn-warning custumersDecsActionBtn" style="font-size:12px;">@j.StatusName</button>
        }
        <input type="hidden" value="" id="CustumersDetailsDecsStatuseInputId" />
    </div>

    <div class="col-lg-12 col-md-12 col-12" style="overflow-x: auto;overflow-y: auto;margin-top:10px;" id="OrdersJsonTabelMainDiv">
        <table class="table table-bordered" style="width:100%;">
            <thead style="background-color:red;color:white;">
                <tr>
                    <th>
                        @Html.DisplayName("Country")
                    </th>
                    <th>
                        @Html.DisplayName("Date Time")
                    </th>
                    <th>
                        @Html.DisplayName("Tracing Num")
                    </th>
                    <th>
                        @Html.DisplayName("Statuse")
                    </th>
                    <th>
                        @Html.DisplayName("Executed")
                    </th>
                    <th>
                        @Html.DisplayName("We-kq")<br />
                        @Html.DisplayName("Wi-sm/L-sm/H-sm")<br />
                    </th>
                    <th style="cursor:pointer;">
                        @Html.DisplayName("Actions")
                    </th>
                </tr>
            </thead>
            <tbody class="DecIndexTableBody">
                @{


                    string statusName = "Gelmeyib";
                    string icra;
                    string comment;

                    foreach (var i in Model)
                    {
                        if (i.Comment.Length > 25)
                        {
                            comment = i.Comment.Substring(0, 25) + "...";
                        }
                        else
                        {
                            comment = i.Comment;
                        }

                        if (i.Executed == true)
                        {
                            icra = "Icra Edilib";
                        }
                        else
                        {
                            icra = "Icra Edilmeyib";
                        }
                        <tr>
                            <td>
                                @i.Country.CauntryName
                            </td>
                            <td>
                                @i.OrderDate
                            </td>
                            <td>
                                @i.TrackingCode
                            </td>
                            <td>
                                @if (i.OrderStatusId != null)
                                {
                                    foreach (var l in ViewBag.Statuse)
                                    {
                                        if (i.OrderStatusId == l.Id)
                                        {
                                            <span>@l.StatusName</span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span>@statusName</span>

                                }
                            </td>
                            <td>
                                @icra
                            </td>
                            <td>
                                We-@i.Weight<br />
                                Wi-@i.Width/L-@i.Length/H-@i.Height
                            </td>
                            <td>
                                <button type="button" data-id="@i.Id" class="btn btn-primary DecEditBtn" style="font-size:12px;"><i class="far fa-edit"></i></button>
                                <a href="/Bundel/Create/@i.UserDbId" style="font-size:12px;"><button style="font-size:12px;" class="btn btn-warning">Process</button></a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>