@model CargoEmpty.Models.General.User.UserDb


<div class="col-lg-12 col-12 CustmersInfoParthialMainDiv">
    <div class="row ">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <span>User Id</span>
            <div>
                <span class="form-control">@Model.Id</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <span>User Kod</span>
            <div>
                <span class="form-control">@Model.UserCod</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <span>User Name</span>
            <div>
                <span class="form-control">@Model.UserName</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <span>Ad</span>
            <div>
                <span class="form-control">@Model.FirstName</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <span>Soy Ad</span>
            <div>
                <span class="form-control">@Model.LastName</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <span>Yas</span>
            <div>
                <span class="form-control">@Model.Age</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <span>Cins</span>
            <div>
                <span class="form-control">@Model.Gender</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <span>Adres</span>
            <div>
                <span class="form-control">@Model.Adress</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span>Mail</span>
            <div>
                <span class="form-control">@Model.Mail</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span>Telefon</span>
            <div>
                <span class="form-control">@Model.PhoneNumber</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span>Balans</span>
            <div>
                <span class="form-control">@Model.Balance</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span>Bonus Balans</span>
            <div>
                <span class="form-control">@Model.BonusBalance</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span>Vesiqnin Nomresi</span>
            <div>
                <span class="form-control">@Model.IDCardNumber</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span>FIN</span>
            <div>
                <span class="form-control">@Model.FINNumber</span>
            </div>
        </div>
    </div>
</div>