@model IEnumerable<CargoEmpty.Models.General.Order.OrderDb>

<table class="table table-bordered" style="width:100%;">
    <thead style="background-color:red;color:white;">
        <tr>
            <th style="text-align:center;cursor:pointer;" id="OrderAllSelect" title="Butun Sifarisleri Sec">
                <i class="fas fa-caret-square-down"></i>
            </th>
            <th>
                @Html.DisplayName("Ad")
            </th>
            <th>
                @Html.DisplayName("Link")
            </th>
            <th>
                @Html.DisplayName("Qeyd")
            </th>
            <th>
                @Html.DisplayName("Qiymet")
            </th>
            <th>
                @Html.DisplayName("Olke")
            </th>
            <th style="text-align:center;cursor:pointer;" id="OrderAllPaid" title="Butun Sifarisleri Ode">
                @Html.DisplayName("IsPaid")
            </th>
            <th style="text-align:center;cursor:pointer;" id="OrderAllDelete" title="Diqqet!!! Butun sifarisleri Silir">
                @Html.DisplayName("Sil") <i class="fas fa-caret-square-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        @{


            string IsPaid = "Ode";
            string IsUrgent = "Normal";
            string color = "green";

            string comment;

            foreach (var i in Model)
            {
                if (i.Coment.Length > 25)
                {
                    comment = i.Coment.Substring(0, 25) + "...";
                }
                else
                {
                    comment = i.Coment;
                }

                if (i.isPaid == true)
                {
                    IsPaid = "Odenilib";
                    color = "green";


                }
                else
                {
                    IsPaid = "Odenilmeyib";
                    color = "red";


                }
                if (i.isUrgent == true)
                {
                    IsUrgent = "Tecili";

                }
                else
                {
                    IsUrgent = "Normal";
                }
                <tr>
                    <td>
                        <input type="checkbox" name="name" class="CheckedOrder" id="@i.Id" />
                    </td>
                    <td>
                        @i.OrderName
                    </td>
                    <td>

                        <a href="@i.Link">@i.Link.Substring(8, 17)...</a>

                    </td>
                    <td>
                        @comment
                    </td>
                    <td>
                        @i.Price<br /> @i.Country.CountryCurrency.CurrencyName
                    </td>
                    <td>
                        @i.Country.CauntryName
                    </td>
                    <td>
                        <span style="font-size:13px;border-radius:3px;background-color:@color;color:white;">@IsPaid</span>
                    </td>
                    <td>
                        <button type="button" data-id="@i.Id" class="btn btn-primary OrderEditBtn" style="font-size:13px;"><i class="far fa-edit"></i></button>
                        <button type="button" data-id="@i.Id" class="btn btn-danger OrderDelete" style="font-size:13px"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

